body {
   background-color: green;
}

#number-projects-nd {
   font-size: 60px;
}

#total-donations-nd {
   font-size: 60px;
}




.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-select-menu {
   background: #33CC99;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}

#navbar {
    background-color:rgb(83, 163, 163);
}

.blue {
   background-color: rgb(113, 159, 241);
}

.green {
   background-color: rgb(144, 236, 192);
}

.red {
   background-color: rgb(255, 102, 133);
}

.yellow {
   background-color: rgb(237, 253, 46);
}


